<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>The Horry Club!</h1>
    <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.firstname %> <%= user.lastname %> <br>
        Status: <%= user.status %> <%= user.is_admin ? "admin" : "member" %>
        
      </h1>
      <a href="/log-out">LOG OUT</a>

      <h2>Posts</h2>  
      <a href="/createPost"><button type="button">Create Post</button></a>
  <% } else { %>
    <a href="/sign-up">SIGN UP</a>
    <a href="/log-in">LOG IN</a>
  <% } %>
      <ul>
          <% posts.forEach((post) => { %>
            <li>
              <h2><a href=""><%= post.title %></a></h2> 
              <% if (locals.user) {%>
                <% if(user.is_admin){%><a href="/delete/<%= post.post_id %>"><button>Delete</button></a><% }%>
                <p>From: <%= post.firstname %> <%= post.lastname %></p>
                <p>Created: <%= post.created %></p>
              <% } %>
              <h3> <%= post.message %> </h3>
            </li>
            <hr>
          <% }) %>
      </ul>
</body>
</html>